*{
    border: 0;
    margin: 0;
    padding: 0;
}
body {
    background-color: #0E1A40;
}

h2 {
    font: 2em sans-serif;
    color: aliceblue;
    text-align: center;
    align-self: center;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    
}
#canvas-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
}

#score-board{
    height: 50px;
    padding: 8px;
    width: 25%;
    background-color: blueviolet;
}

#arriba{
    height: 50px;
    width: 50px;
    background-image: url(Flecha-arriba.svg);
    align-self: center;
    background-color: #0E1A40;
}

#derecha{
    height: 50px;
    width: 50px;
    background-image: url(Flecha-derecha.svg);
    background-color: #0E1A40;
}

#izquierda{
    height: 50px;
    width: 50px;
    background-image: url(Flecha-izquierda.svg);
    background-color: #0E1A40;
}

#abajo{
    height: 50px;
    width: 50px;
    background-image: url(Flecha-abajo.svg);
    align-self: center;
    background-color: #0E1A40;
}



