*{
    border: 0;
    margin: 0;
    padding: 0;
}
body {
    background-color: #0E1A40;
}

h2 {
    font: 2em sans-serif;
    color: aliceblue;
}
#canvas-container {
    display: flex;
    width: 100%;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
}

#score-board{
    height: 50px;
    margin-right: 0px;
    margin-left: 400px;
    padding: 8px;
    width: 25%;
    background-color: blueviolet;
}

#arriba{
    height: 50px;
    margin-right: 0px;
    margin-left: 440px;
    width: 50px;
    background-image: url(Flecha-arriba.jpg);
}

#derecha{
    height: 50px;
    margin-right: 0px;
    margin-left: 400px;
    width: 50px;
    background-image: url(Flecha-derecha.jpg);
}

#izquierda{
    height: 50px;
    margin-right: 0px;
    margin-left:20px;
    width: 50px;
    background-image: url(Flecha-izquierda.jpg);
}

#abajo{
    height: 50px;
    margin-right: 0px;
    margin-left:440px;
    width: 50px;
    background-image: url(Flecha-abajo.jpg);
}



